header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;

  .logo{
    width: 200px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu-icon{
    width: 20px;
    position: relative;
    span {
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: black;
      border-radius: 3px;
      margin: 2px;
    }
    span:first-of-type {
      top: 0;
    }
    span:last-of-type {
      bottom: 0;
    }
  }
}
